@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    font-family: 'Permanent Marker', Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Rimuovi il bordo di focus dai bottoni */
button:focus {
    outline: none;
    /* Aggiungi altri stili desiderati */
}

button:hover {
    cursor: pointer;
}

dialog {
    text-align: center;
    color: #0009;
    background: transparent;
    color: #ffaa2c;
    text-shadow: 5px 5px 0px #581481;
    border: 0;
    border-radius: 2rem;
    margin: auto;
    padding: 3rem;
    font-size: clamp(12px, min(7vh, 5vw), 3rem);
    overflow: visible;
    max-height: calc(90vh + 2rem);
}



dialog#menu::backdrop {
    background: url(./ai_generated/cover.webp);
    background-size: clamp(300px, 70vh, 600px);
    background-repeat: no-repeat;
    background-position: left bottom;
    inset: 0 0 2.5rem 0;
}

#menu {
    color: #ff5722;
    text-shadow: 5px 5px 0px #581481;
}

#menu h2 {
    color: #ffaa2c;
}
#menu p {
    color: #CDDC39;
}
dialog button {
    margin: 1rem 1.5rem;
    background: transparent;
    color: #fff;
    border: 0;
    border-radius: 1rem;
    font-size: clamp(12px, 10vw, 4rem);
    font-family: 'Permanent Marker', Verdana, Geneva, Tahoma, sans-serif;
}

dialog button:hover {
    color: white;
    text-shadow: 5px 5px 0px #ff5722;
}

/* Definizione dell'animazione "shaky" */
@keyframes shaky {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-5px) rotate(-5deg);
    }

    40% {
        transform: translateX(5px) rotate(5deg);
    }

    60% {
        transform: translateX(-5px) rotate(-5deg);
    }

    80% {
        transform: translateX(5px) rotate(5deg);
    }

    100% {
        transform: translateX(0);
    }
}

/* Applicazione dell'animazione all'elemento con ID "record-emoji" */
span.emoji {
    display: inline-block;
}

span.shaky-emoji {
    display: inline-block;
    animation: shaky 1s ease infinite;
    /* Durata, timing function e iterazione */
}

#final-score {
    font-size: 120%;
    color: #FF5722;
}

footer {
    position: absolute;
    text-align: left;
    left: 1rem;
    left: 1rem;
    bottom: 0.2rem;
    font-size: 1rem;
    padding: 0.2rem 0.2rem;
    font-weight: 600;
    color: #fffc;
    transition: filter 0.4s ease-in-out, opacity 0.4s ease-in-out;
    /* Aggiungi transizioni per filter e opacity */
    filter: blur(10px);
    /* Imposta il valore iniziale del blur a 0 */
    opacity: 0;
    /* Imposta il valore iniziale dell'opacità a 1 */
}

footer.activated,
#score-board.activated {
    filter: blur(0);
    opacity: 1;
}

footer p {
    margin-top: 0.5rem
}

a {
    color: #ff5c00;
    text-decoration: none;
}

footer a {
    color: #ff0066;
}

img.level {
    display: none;
}

#score-board {
    background-image: url(./ai_generated/corner.webp);
    position: absolute;
    background-size: 20vw;
    width: 20vw;
    height: 20vw;
    filter: drop-shadow(2px 4px 6px black);
    font-size: clamp(2.5rem, 10vw, 8rem);
    transition: filter 0.4s ease-in-out, opacity 0.4s ease-in-out;
    /* Aggiungi transizioni per filter e opacity */
    filter: blur(10px);
    /* Imposta il valore iniziale del blur a 0 */
    opacity: 0;
}

#score,
#laps {
    position: absolute;
    display: flex;
    justify-content: center;

}

#score {
    color: #FF5722;
    top: 3vw;
    left: 8vw;
}

#laps {
    font-size: 30%;
    color: white;
    top: 16vw;
    left: 6vw;
}